<html>
    <head>
        <title>KSUPD Inventory</title>
	</head>
	<body>
        <h2>Kent State Police Inventory</h2>
		<button id="analytics-button">Analytics</button>
	</body>
</html>

<script type="text/javascript">
    
</script>