@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Reports</title>
    <link rel="stylesheet" href="Styles/Main.css">
    <script type="text/javascript" src="Scripts/jquery-3.2.1.js"></script>
</head>
    <body>
    	<div class="header">
          <h2 id="head-title">Create Reports</h2>
        </div>

		<div id="login">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br><br><br>
            <input type='button' id="weekly-button" value="Run Weekly Report">
            <input type='button' id="gun-button" value="Run Gun Report">
        </div>
		
    </body>
</html>

<script type="text/javascript">
    $('#weekly-button').click(function() {
        alert("to be implemented");
	    //document.location = baselocation + "?report=weekly"
	});

	$('#monthly-button').click(function() {
        alert("to be implemented");
    });
</script>
