@{
    Layout = null;
}
@using KentStatePoliceInventory.Models
@model KentStatePoliceInventory.Models.InventoryViewModel

<!DOCTYPE html>
<html>
  <head>
    <title>KSUPD Analytics</title>
    <link rel="stylesheet" href="Styles/Main.css">
    <script type="text/javascript" src="Scripts/jquery-3.2.1.js"></script>
  </head>

  <body>
    <div class="header">
      <h2 id="head-title">Kent State Police Department Inventory Analytics</h2>
    </div>
    <!-- Fancy D3 graphs go here -->
  </body>


